<div class="page-title">
    <h4>Сформировать заказ</h4>
    <button class="waves-effect btn grey darken-1 modal-trigger" data-target="explore-order">
        Завершить
    </button>
</div>
<div class="main">
    <div class="center" *ngIf="categories | async as categories; else loader">
        <div class="frow order-row" *ngIf="categories.length !== 0; else empty">
            <div [routerLink]="['/newOrder/add-from-category/', category._id]" class="card waves-effect pointer"
                 *ngFor="let category of categories">
                <div class="center">
                    <img src="{{category.imageSrc}}" class="responsive-img order-img" alt="">
                </div>
                <div class="card-content center p10">
                    <h5 class="m0">{{category.name}}</h5>
                </div>
            </div>
        </div>
    </div>
    <h4 id="youOrder">Ваш заказ</h4>
    <div id="checkList" class="frow order-row">
        <app-order-checklist-form></app-order-checklist-form>
    </div>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
<ng-template #empty>
    <div>Категории не найдены. Вы можете добавить категории в разделе <a routerLink="/categories">"Ассортимент"</a></div>
</ng-template>
