<div class="page-title">
    <h4>
        <a routerLink="/newOrder">Сформировать заказ</a>
        <i class="material-icons">keyboard_arrow_right</i>
        Добавить продукцию
    </h4>
    <button class="waves-effect btn grey darken-1 modal-trigger" data-target="explore-order">
        Завершить
    </button>
</div>

<div *ngIf="!loading else loader">
    <table class="highlight" *ngIf="positions.length !== 0; else empty">
        <thead>
        <tr>
            <th>Название</th>
            <th>Стоимость</th>
            <th>Количество</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let position of positions; let i = index">
            <td>{{position.name}}</td>
            <td>{{position.cost}} руб.</td>
            <td>
                <div class="input-field inline order-position-input">
                    <form [formGroup]="forms[i]">
                        <input formControlName="number" type="number"
                        [ngClass]="{'invalid': forms[i].get('number').invalid && forms[i].get('number').touched}">
                    </form>
                    <span class="helper-text red-text" *ngIf="forms[i].get('number').invalid && forms[i].get('number').touched">
                        <span *ngIf="forms[i].get('number').errors['required']">Поле не должжно быть пустым</span>
                        <span *ngIf="forms[i].get('number').errors['pattern']">Число должно быть целым</span>
                        <span *ngIf="forms[i].get('number').errors['min']">Минимальное значение поля: 1</span>
                    </span>
                </div>
            </td>
            <td>
                <button (click)="onSubmit(position, forms[i])" class="btn waves-effect wavers-light btn-small" type="submit"
                    [disabled]="forms[i].disabled || forms[i].invalid"
                >Добавить</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer class="frow order-row">
    <app-order-checklist></app-order-checklist>
</footer>

<ng-template #empty>
    <div class="center">В данной категории нет позиций</div>
</ng-template>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
