<div class="page-title">
    <h4>
        <a routerLink="/newOrder">Сформировать заказ</a>
        <i class="material-icons">keyboard_arrow_right</i>
        Добавить продукцию
    </h4>
    <button class="waves-effect btn grey darken-1 modal-trigger" data-target="explore-order">
        Завершить
    </button>
</div>

<div class="parent" *ngIf="!loading else loader">
    <table class="highlight" *ngIf="positions.length !== 0; else empty">
        <thead>
        <tr>
            <th>Название</th>
            <th>Стоимость</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let position of positions">
            <td>{{position.name}}</td>
            <td>{{position.cost}} руб.</td>
            <td>
                <button (click)="onSubmit(position)" class="btn waves-effect wavers-light btn-small"
                        type="submit"
                >Добавить
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <h4 id="youOrder">Ваш заказ</h4>
    <div id="checkList" class="frow order-row">
        <app-order-checklist-form></app-order-checklist-form>
    </div>

</div>

<ng-template #empty>
    <div class="center">В данной категории нет позиций</div>
</ng-template>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
